<p>Hello <%= @resource.email %>!</p>

<p>Quelqu'un a demandé un lien pour réinitialisé le mot de passe</p>

<p><%= link_to 'Change my password', edit_password_url(@resource, reset_password_token: @token) %></p>

<p>Si vous n'etes pas a l'origine de cette demande, veuillez changer votre mot de passe.</p>

